body{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.sign-up-form{
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom:30px;
}
.input-box{
    border-radius: 20px;
    padding: 12px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button
{
    color: #fff;
    width: 99%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: #1c8adb;
}
.twitter-btn{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 85%;
}
.or{
    width: 30px;
    background: #DBD4B4;
    margin: -21px auto 10px;
}
img{
    width: 95px;
   /* background-color: #d2cfb7;*/
    margin-top: -100px;
}